{{> head }}

{{> navbar  }}

<div class="row">
    <div class="col-8">
        <h1>Batman</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id totam aperiam sequi magnam blanditiis molestias nesciunt atque, ad nam quos ullam ipsam, possimus dolorem in rerum repudiandae enim omnis ipsum?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/batman.jpg" class="img-thumbnail"></div>
    </div>
</div>